<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Видео</h1>
    </div>
    <div class="col-lg-12">
      <% @videos.each do |video| %>
      <div class="col-lg-3 video-block">
        <div class="video-responsive">
          <%= video.to_html %>
        </div>
        <div class="">
          <%= video.title %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
